<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Consulta de retina</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link rel="stylesheet"  type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}" />
        <link rel="stylesheet" href="{% static "font-awesome/4.2.0/css/font-awesome.min.css" %}" />
        {% block stylesheet %}{% endblock stylesheet %}
    </head>
    <body>
        {% include 'menu_principal.html' %}
        <div class="container">
            {% block header %}{% endblock header %}
            {% block page %}{% endblock page %}
        </div>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block script %}{% endblock script %}
    </body>
</html>
