{% extends 'base.html' %}

{% block header %}
    <h1>Eliminar paciente</h1>
{% endblock header %}

{% block page %}

<div class="panel panel-primary">
    <div class="panel-heading">Confirmar eliminación</div>
    <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
            <p>Está seguro que desea eliminar {% block mensaje %}{% endblock mensaje %}?</p>
            <input class='btn btn-primary' type="submit" value="Aceptar" />
            <a href="{{url_cancelar}}" class='btn btn-primary'>Cancelar</a>
        </form>
    </div>
</div>

{% endblock page %}