{% extends 'base.html' %}

{% block header %}
    <div class="page-header">
        <h3>{% block header_message %}{% endblock header_message %}<h3>
    </div>
{% endblock header %}

{% block page %}

<div class="panel panel-primary">
    <div class="panel-heading">Confirmar eliminación</div>
    <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
            <p>{% block mensaje %}{% endblock mensaje %}</p>
            <input class='btn btn-primary' type="submit" value="Aceptar" />
            <a href="{{url_cancelar}}" class='btn btn-primary'>Cancelar</a>
        </form>
    </div>
</div>

{% endblock page %}