{% extends 'base.html' %}

{% block page %}

<div class="row">
    <div class="col-xs-12">
        <div class="clearfix">
            {% for message in messages %}
                <div class="alert alert-block alert-success">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <p>
                        <i class="ace-icon fa fa-exclamation-circle"></i>
                        {{ message }}
                    </p>
                </div>
            {% endfor %}
        </div>

        <!--Header de la tabla-->
        {% if object_list %}
            <div style="padding: 0 5% 0 5%">
                {%  for object in object_list %}
                    <div class="row patient-item {% cycle 'row-odd' 'row-odd1' %}"}>{% block listado %}{% endblock listado %}</div>
                {% endfor %}
            </div>
        {% else %}
            {% block object_list_empty %}{% endblock object_list_empty %}
        {% endif %}
    </div>
</div>

{% endblock page %}

{% load staticfiles %}
{% block script %}
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "js/jquery.dataTables.bootstrap.min.js" %}"></script>
    <script>
    $('.dynamic-table').dataTable({
        "scrollX": true,
        responsive: true,
        bAutoWidth: false,
        bSort:false,
        enableFiltering: false
    });
    </script>
{% endblock script %}
