{{menu}}
<div style='margin-bottom:50px'>
    <ul class="nav navbar-default navbar-fixed-top nav-pills">
        <li {% if menu == 'paciente' %} class='active' {% endif %} class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Paciente
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'consulta:listar_paciente' %}">Listado de pacientes</a></li>
                <li><a href="{% url 'consulta:adicionar_paciente' %}">Adicionar paciente</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Consulta
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Listado de consultas</a></li>
                <li><a href="#">Adicionar consulta</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Modelos
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Registro de pacientes atendidos</a></li>
                <li><a href="#">Certificado médico</a></li>
                <li><a href="#">Certificado de tratamiento con medicamentos controlados por tarjeta</a></li>
            </ul>
        </li>
    </ul>
</div>