{% extends 'listar.html' %}

{% block header %}

<div class="page-header">
    <h1>Listado de pacientes</h1>
</div>

<form role='form' action='' method='get' >
    <input type="date" name="fecha" placeholder="2017-04-20"/>
    <input class="btn btn-primary" type="submit" value="Filtrar" />
</form>

{% endblock header %}

{% block listado %}
<td>{{ object.paciente.numero_historia_clinica }}</td>
<td>{{ object.paciente }}
<td>{{ object.diagnostico }}</td>

<td>{{ object.mnt }}</td>
<td>
    <a class="blue" href="{% url 'consulta:detalle_paciente' pk=object.pk %}" data-rel="tooltip" title="Detalles">
       Detalles
    </a>
    <a class="blue" href="{% url 'consulta:editar_paciente' pk=object.pk %}" data-rel="tooltip" title="Editar">
       Editar
    </a>
    <a class="blue" href="{% url 'consulta:eliminar_paciente' pk=object.pk %}" data-rel="tooltip" title="Eliminar">
       Eliminar
    </a>
</td>

{% endblock listado %}