{% extends 'base.html' %}

{% block page %}

<div class="page-header">
    <h1>Editar consulta</h1>
</div>

{% include 'formulario_editar.html' %}

{% endblock page %}

{% block stylesheet %}

    {{ form.media.css }}

{% endblock stylesheet %}

{% block script %}

    {{ form.media.js }}
    <script>
        $('#id_fecha').datetimepicker({format: 'Y-m-d H:i'});
        $('#id_paciente').chosen();
        $('#id_diagnostico').chosen();
        $('#id_mnt').chosen();
        $('#id_medico').chosen();
        $('#id_unidad').chosen();
    </script>

{% endblock script %}
