{% extends 'listar_div.html' %}

{% block header %}

<div class="row page-header">
    <div class="col-sm-3">
        <h3>Listado de pacientes</h3>
    </div>
    <div class="col-sm-9" style="text-align:right;margin-bottom:50px">
        <a class="btn btn-primary" href="{% url 'consulta:adicionar_consulta' %}" data-rel="tooltip" title="Adicionar consulta">
           <i class="fa fa-plus"></i>
        </a>
        {% if object_list %}
        <a class="btn btn-primary" href="{% url 'consulta:registro_pacientes' year=day.year month=day.month day=day.day %}" data-rel="tooltip" title="Imprimir registro de pacientes">
           <i class="fa fa-print"></i>
        </a>
        {% endif %}
    </div>
</div>

<div class="row" style="margin-bottom:20px">
    <div class="col-sm-4">
        {% if previous_day %}
            <a class="btn btn-primary" href="{% url 'consulta:consulta_por_fecha' year=previous_day.year month=previous_day.month day=previous_day.day %}" >Día anterior: {{previous_day}}</a>
        {% endif %}
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align:right">
        {% if next_day %}
            <a class="btn btn-primary" href="{% url 'consulta:consulta_por_fecha' year=next_day.year month=next_day.month day=next_day.day %}" >Día siguiente: {{next_day}}</a>
        {% endif %}
    </div>
</div>

{% endblock header %}

{% block listado %}

<div class="row">
    <div class="col-sm-4">
        <h4>General</h4>
        <div class="row consulta-general-item-info">            
            <div class="col-sm-8">
                <span class="badge">No. HC {{ object.paciente.ci }}</span>
            </div>
            <div class="col-sm-4">
                <span><i class="fa fa-medkit"></i> {{ object.especialidad }}</span>
            </div>
        </div>
        <div class="row consulta-general-item-info">
            <div class="col-sm-8">
                <span><i class="fa fa-bed"></i> {{object.paciente.nombres}} {{ object.paciente.primer_apellido }} {{ object.paciente.segundo_apellido }}</span>
            </div>
            <div class="col-sm-4">
                <span><i class="fa fa-clock-o"></i> {{ object.fecha.time }} </span>
                {% if object.caso_nuevo %} 
                    <i class="fa fa-toggle-on"></i> 
                {% else %}
                    <i class="fa fa-toggle-off"></i>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="col-sm-6">
            <h4>Diagnóstico</h4>
            <ul class="list-group">
            {% for diag in object.diagnostico.all %}
                <li class="list-group-item list-group-item-info">{{diag}}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-sm-5">
            <h4>Mnt</h4>
            <ul class="list-group">
            {% for mnt in object.mnt.all %}
                <li class="list-group-item list-group-item-info">{{mnt.nombre}}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-sm-1">
            <a class="blue" href="{% url 'consulta:editar_consulta' pk=object.pk %}" data-rel="tooltip" title="Editar">
               <i class="fa fa-pencil"></i>
            </a>
            <a class="blue" href="{% url 'consulta:eliminar_consulta' pk=object.pk %}" data-rel="tooltip" title="Eliminar">
               <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>
</div>

{% endblock listado %}
