{% extends 'listar.html' %}

{% block header %}

<div class="page-header">
    <h3>Consultas por fecha ({{day}})</h3>
</div>


<div style="text-align:right;margin-bottom:5px">
    <a class="btn btn-primary" href="{% url 'consulta:adicionar_consulta' %}" data-rel="tooltip" title="Adicionar consulta">
       <i class="fa fa-plus"></i>
    </a>
    {% if object_list %}
    <a class="btn btn-primary" href="{% url 'consulta:registro_pacientes' year=day.year month=day.month day=day.day %}" data-rel="tooltip" title="Imprimir registro de pacientes">
       <i class="fa fa-print"></i>
    </a>
    {% endif %}
</div>


<div class="row" style="margin-bottom:20px">
    <div class="col-sm-4">
        {% if previous_day %}
            <a class="btn btn-primary" href="{% url 'consulta:consulta_por_fecha' year=previous_day.year month=previous_day.month day=previous_day.day %}" >Día anterior: {{previous_day}}</a>
        {% endif %}
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align:right">
        {% if next_day %}
            <a class="btn btn-primary" href="{% url 'consulta:consulta_por_fecha' year=next_day.year month=next_day.month day=next_day.day %}" >Día siguiente: {{next_day}}</a>
        {% endif %}
    </div>
</div>

{% endblock header %}

{% block listado %}
<td>{{ object.especialidad }}</td>
<td>{{ object.paciente.numero_historia_clinica }}</td>
<td>{{ object.paciente }}</td>
<td>
    <ul class="list-group">
    {% for diag in object.diagnostico.all %}
        <li class="list-group-item list-group-item-info">{{diag}}</li>
    {% endfor %}
    </ul>
</td>
<td>{{ object.conducta }}</td>
<td>
    <ul class="list-group">
    {% for mnt in object.mnt.all %}
        <li class="list-group-item list-group-item-info">{{mnt}}</li>
    {% endfor %}
    </ul>
</td>
<td>{{ object.medico }}</td>
<td>{{ object.fecha.time }}</td>
<td>{% if object.caso_nuevo %}Sí{% else %}No{% endif %}</td>
<td>
    <a class="blue" href="{% url 'consulta:editar_consulta' pk=object.pk %}" data-rel="tooltip" title="Editar">
       <i class="fa fa-pencil"></i>
    </a>
    <a class="blue" href="{% url 'consulta:eliminar_consulta' pk=object.pk %}" data-rel="tooltip" title="Eliminar">
       <i class="fa fa-trash"></i>
    </a>
</td>

{% endblock listado %}
