{% extends 'base.html' %}

{% block page %}

<div class="page-header">
    <h3>Adicionar consulta</h3>
</div>

{% include 'consulta/formulario_consulta.html' %}

{% endblock page %}

{% block stylesheet %}

    {{ form.media.css }}

{% endblock stylesheet %}

{% block script %}

    {{ form.media.js }}
    <script>
        $('#id_fecha').datetimepicker({format: 'd/m/Y H:i'});
        $('#id_especialidad').chosen();
        $('#id_paciente').chosen();
        $('#id_diagnostico').chosen();
        $('#id_mnt').chosen();
        $('#id_medico').chosen();
        $('#id_unidad').chosen();
        $('#id_conducta').chosen();
    </script>

{% endblock script %}
