{% extends 'base.html' %}

{% block header %}

<div class="page-header">
    <h3>Detalle de paciente</h3>
</div>

<div style="text-align:right;margin-bottom:5px">
    <a class="btn btn-primary" href="{% url 'consulta:editar_paciente' pk=object.pk %}" data-rel="tooltip" title="Editar">
       <i class="fa fa-pencil"></i>
    </a>
    <a class="btn btn-primary" href="{% url 'consulta:eliminar_paciente' pk=object.pk %}" data-rel="tooltip" title="Eliminar">
       <i class="fa fa-trash"></i>
    </a>
</div>

{% endblock header %}

{% block page %}
<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">Información básica</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2">
                    {% load staticfiles %}
                    <img src="{% if object.foto %} {{ object.foto.url }}{% else %} {% static 'icons/paciente.png' %} {% endif %}" style="max-width:70px;" class="img-circle img-responsive" alt="Foto"  />
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <h4>
                            <u>{{object.nombres}} {{ object.primer_apellido }} {{ object.segundo_apellido }}</u>
                            <span class="badge">No. {{ object.numero_historia_clinica }}</span>
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5><strong>Sexo: </strong> {{ object.sexo }}</h5>
                            <h5><strong>Edad: </strong> {{ object.edad }}</h5>
                            <h5><strong>Area de salud: </strong> {{ object.area_salud }}</h5>
                        </div>
                        <div class="col-sm-5">
                            <h5><strong>No. CI: </strong> {{ object.ci }}</h5>
                            <h5><strong>Ocupación actual: </strong> {{ object.ocupacion }}</h5>
                            <h5><strong>Centro Trabajo: </strong> {{ object.centro_trabajo }}</h5>
                        </div>
                    </div>
                    <h5><strong>Dirección: </strong> {{ object.direccion }}, {{ object.area_salud.municipio }}, {{ object.area_salud.municipio.provincia }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page %}
