{% extends 'base.html' %}

{% block page %}

    <div class="page-header">
        <h3>Adicionar paciente</h3>

    </div>

    {% include 'consulta/formulario_paciente.html' %}

{% endblock page %}


{% load staticfiles %}

{% block stylesheet %}

    {{ form.media.css }}

{% endblock stylesheet %}

{% block script %}
    <script src="{% static 'js/jquery.birthdateFromCI.js' %}"></script>
    {{ form.media.js }}

    <script>
        $('#id_area_salud').chosen();
        $('#id_sexo').chosen();
        $('#id_ci').BirthdateFromCI({'birthdate': $('#id_fecha_nacimiento')});
    </script>

{% endblock script %}
