{% extends 'listar.html' %}

{% block header %}

<div class="page-header">
    <h3>Listado de pacientes</h3>
</div>

<div style="text-align:right;margin-bottom:5px">
    <a class="btn btn-primary" href="{% url 'consulta:adicionar_paciente' %}" data-rel="tooltip" title="Adicionar paciente">
       <i class="fa fa-plus"></i>
    </a>
</div>

{% endblock header %}

{% block listado %}

<td>{{ object.numero_historia_clinica }}</td>
<td>{{ object.nombres}} {{ object.primer_apellido}} {{ object.segundo_apellido }}</td>
<td>{{ object.edad }}</td>
<td>{{ object.sexo }}</td>
<td>{{ object.area_salud }}</td>
<td>
    <a class="blue" href="{% url 'consulta:detalle_paciente' pk=object.pk %}" data-rel="tooltip" title="Detalles">
       <i class="fa fa-plus"></i>
    </a>
    <a class="blue" href="{% url 'consulta:editar_paciente' pk=object.pk %}" data-rel="tooltip" title="Editar">
       <i class="fa fa-pencil"></i>
    </a>
    <a class="blue" href="{% url 'consulta:eliminar_paciente' pk=object.pk %}" data-rel="tooltip" title="Eliminar">
       <i class="fa fa-trash"></i>
    </a>
</td>

{% endblock listado %}
