{% extends 'listar_div.html' %}

{% block header %}

<div class="row page-header">
    <div class="col-sm-3">
        <h3>Listado de pacientes</h3>
    </div>
    <div class="col-sm-9" style="text-align:right;">
        <a class="btn btn-primary" href="{% url 'consulta:adicionar_paciente' %}" data-rel="tooltip" title="Adicionar paciente">
           <i class="fa fa-plus"></i>
        </a>
    </div>
</div>

<div id="buscar_paciente_block" style="margin-bottom:20px">
    <form action="" method="get">
        <div class="form-group">
            <div id="patient-search-form-group" class="input-group">
                <span class="input-group-btn">
                    <button id="search-button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </span>       
                <input id="criterio_busqueda" class="col-sm-6" type="text" name="criterio_busqueda" placeholder="Escriba para buscar paciente y presione enter" value="{{ criterio_busqueda }}"/>
                {% if object_list %}
                    <span class="badge"><i class="fa fa-thumbs-up"></i> {{ object_list.count }}</span>
                {% endif %}
            </div>
            <input id="submit" type="submit" value="Buscar" style="display:none"/>
        </div>
    </form>
</div>

{% endblock header %}

{% block listado %}

<div class="row">
    <div class="col-sm-3">
        <span class="badge"><i class="fa fa-credit-card"></i> {{ object.ci }}</span>
    </div>
    <div class="col-sm-3">
        <a class="blue" href="{% url 'consulta:editar_paciente' pk=object.pk %}" data-rel="tooltip" title="Editar">
           <i class="fa fa-pencil"></i>
        </a>
        <a class="blue" href="{% url 'consulta:eliminar_paciente' pk=object.pk %}" data-rel="tooltip" title="Eliminar">
           <i class="fa fa-trash"></i>
        </a>
        <a class="blue" href="{% url 'consulta:adicionar_consulta_paciente' paciente=object.pk %}" data-rel="tooltip" title="Realizar consulta">
           <i class="fa fa-medkit"></i>
        </a>
        {% if object.consulta_set.all %}
        <a class="blue" href="{% url 'consulta:listar_consulta_por_paciente' pk=object.pk %}" data-rel="tooltip" title="Ver consultas">
           <i class="fa fa-eye"></i>
        </a>
        {% endif %}
    </div>
    <div class="col-sm-6" style="text-align:right">
        <span><strong>Area de salud: </strong> {{ object.area_salud }} | </span>
        <span><strong>Sexo: </strong> 
        {% if object.sexo == 'F' %} 
            <i class="fa fa-female"></i>
        {% else %}
            <i class="fa fa-male"></i>
        {% endif %}
        | </span>
        <span><strong>Edad: </strong> {{ object.edad }}</span>
    </div>
</div>
<div class="row">
    <h3 class="patient-address">
        {{object.nombres}} {{ object.primer_apellido }} {{ object.segundo_apellido }}
    </h3>
</div>
<div class="row">
    <div class="col-sm-5">
        <span><strong>Dirección: </strong> 
            {{ object.direccion }}, {{ object.area_salud.municipio }}, {{ object.area_salud.municipio.provincia }}
        </span>
    </div>
    <div class="col-sm-7" style="text-align:right">
        {% if object.ocupacion %}
            <span><strong>Ocupación actual: </strong> {{ object.ocupacion }} | </span>
        {% endif %}
        {% if object.ocupacion %}
            <span><strong>Centro Trabajo: </strong> {{ object.centro_trabajo }}</span>
        {% endif %}
    </div>
</div>

{% endblock listado %}
